<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0m4PCMdAVTxAmM8KfWnNqPArCVu6Go7w</string>
	<key>GCM_SENDER_ID</key>
	<string>254317517474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gurmeetchhiber.snaploop.app</string>
	<key>PROJECT_ID</key>
	<string>snaploop-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>snaploop-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254317517474:ios:c62155e2316187ee1f95fb</string>
</dict>
</plist>